<footer class="site-footer">
  <div class="simple-footer-container">
    <div class="container">
      <ul class="col-lg-7">
        <li><a class="grey-linky" href="https://domreactor.com/#features">Features</a></li>
        <li><a class="grey-linky" href="https://domreactor.com/pricing#faq">FAQ</a></li>
        <li><a class="grey-linky" href="https://help.domreactor.com">Help & Support</a></li>
        <li><a class="grey-linky" href="https://domreactor.com/pricing">Pricing</a></li>
      </ul>
      <div class="col-lg-4 col-lg-offset-1">
        <div class="grey-text text-right">&copy; Binary Mechanics 2015</div>
      </div>
    </div>

  </div>
</footer>
