<footer class="site-footer">
  <div class="simple-footer-container">
    <div class="container">
      <ul class="col-lg-7">
        <li><a class="grey-linky" href="https://domreactor.com/about">Features</a></li>
        <li><a class="grey-linky" href="https://domreactor.com/faq">FAQ</a></li>
        <li><a class="grey-linky" href="https://domreactor.desk.com">Help & Support</a></li>
        <li><a class="grey-linky" href="https://domreactor.com/terms">Pricing</a></li>
      </ul>
      <div class="col-lg-3 col-lg-offset-2">
        <div class="grey-text text-right">&copy; Binary Mechanics</div>
      </div>
    </div>

  </div>
</footer>
